# Prerequisites
*.d

# Mac OS X files
*.DS_Store

# ctag files
.tags

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Editors
.vscode
.idea/

# Build directory
build/

# Build files
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles/
xcode/
CMakeLists\.txt\.user
/*.sln
/*.xcodeproj
/Makefile
*.target.xml
*.exe.config
CTestTestfile.cmake
CMakeScripts
install_manifest.txt
compile_commands.json
__pycache__/

# coverage results
coverage
build/coverage

# Build 3dparty
build-iwyu/
build-g3log/
abseil/

# Ignore Unix backup files
*~

# Ignore build artifacts
bin
build
out

# Test results
Testing/

# Ignore intermediate folders
intermediate/

# Ignore any saved local files
saved/

# Explcitly ignore Mac DS_Store files, regardless of where they are
.DS_Store

# log
*.log

# unix specific
*.directory

# autosave
*.autosave

node_modules/

.ca-certificates/**
!.ca-certificates/.gitkeep

examples/cmake_integration/resources/cxtpl/generated/

# C++ objects and libs

*.slo
*.lo
*.o
*.dwo
*.stamp
*.ninja
*.a
*.la
*.pak
*.info
*.d
*.v
*.p
*.pyc
*.cache
*.TOC
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
Makefile*
bin
temp
.reggen

*translations/*.ts
*translations/*.qm

# QtCreator

*.autosave

*.directory

# Config
# NOTE: provide config.*.example
*.config
*config.ini

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

*node_modules*

CMakeFiles/
CMakeCache.txt*
cmake_install.cmake*
/out*
build-*/
thirdparty/icu_wrapper/third_party/icu/build*
*.tmp
thirdparty/SDL2/
thirdparty/glew/
*generated_build_date.h
/src/chromium/base/generated_build_date.h
/src/chromium/device/vr/buildflags/buildflags.h
/src/chromium/gpu/vulkan/buildflags.h
/src/chromium/ui/gl/buildflags.h
/src/chromium/third_party/blink/renderer/platform/testing/runtime_enabled_features_test_helpers.h
/src/chromium/third_party/blink/renderer/platform/runtime_enabled_features.h
/src/chromium/third_party/blink/renderer/platform/runtime_enabled_features.cc
/src/chromium/third_party/blink/renderer/build/scripts/json5_generator.pyc
/src/chromium/third_party/blink/renderer/build/scripts/make_runtime_features_utilities.pyc
/src/chromium/third_party/blink/renderer/build/scripts/template_expander.pyc
/src/chromium/third_party/blink/renderer/build/scripts/blinkbuild/__init__.pyc
/src/chromium/third_party/blink/renderer/build/scripts/blinkbuild/name_style_converter.pyc
*.sources_list
*.deps_sources_list
*.pak.info
*.d.stamp
/src/chromium/ui/base/mpris/buildflags/buildflags.h
*.launch
*fuzz_corpus*
*.mp4
*.yuv
*.context
*.webm
*.raw
\cmake-build*
\.idea/

\.vscode/

src/net/third_party/quiche_todo/

src/chromium/third_party/boringssl_TODO/

